/* Global */

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: #e8e8e8;
}

.Content {
  margin-top: 20px;
}
.TableWrap{
  width: 1000px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.Header p {
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
  padding: 10px 5px;
}