/* Global */

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: #e8e8e8;
}

.projectsContent {
  background-color: #e8e8e8;
}
.projectsContent h4 {
  margin: 20px;
}
.currentProjectWrap {
    width: 1000px;
    background-color: #FFF;
    margin: 0 auto;
    padding: 10px;
    border: 0;
    box-shadow: 9px 11px 19px -9px rgba(0,0,0,0.36);
}

.currentProjectItems li{
  display: inline-block;
}

.projectHeaderWrap{
  padding: 5px;
  border-bottom: 3px solid  rgb(2, 39, 77)
}
.projectMapWrap {
  padding: 5px;
  margin: 5px;
  border-bottom: 1px solid grey;
}
.projectMapWrap:last-child {
  padding: 5px;
  margin: 5px;
  border: 0;
}
.projectHeaderWrap li {
  width: 32%;
  display: inline-block;
}
.projectMapWrap li {
  width: 32%;
  display: inline-block;
}
.projectDetailsDefault {
  padding: 20px;
}

.Content {
  margin-top: 20px;
}
.TableWrap{
  width: 1000px;
  margin: 5px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.Header p {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

.formWrap {
  margin: 20px auto;
 
}
.form-container {
  position: relative;
  border-radius: 5px;
  width: 500px;
  height: 400px;
  padding: 30px;
  background-color: #fff;
  margin: 0 auto;
}


table td {
  height: 20px;
}
.tabsWrapper {
  margin-top: 25px;
}

/* MDL Overrides */
span.mdl-chip a {
  color: #000;
}

.form.form.black-container input {
  width: 100%;
  height: 25px;
}
