/* Global */
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: #eee;
}
input {
  font-size: 16px;
  padding: 5px;
  width: 100%;
}
select { 
  width: 100%;
}
.projectsContent h4 {
  margin: 20px;
}
.currentProjectWrap {
  width: 1000px;
  background-color: #FFF;
  margin: 0 auto;
  padding: 10px;
  border: 0;
  box-shadow: 9px 5px 19px -9px rgba(0,0,0,0.1);
}
.currentProjectItems li{
  display: inline-block;
}
.addProjectContainer {
  padding-top: 20px;
}
.projectHeaderWrap{
  padding: 5px;
  border-bottom: 3px solid  rgb(2, 39, 77)
}
.projectMapWrap {
  padding: 5px;
  margin: 5px;
  border-bottom: 1px solid grey;
}
.projectMapWrap:last-child {
  padding: 5px;
  margin: 5px;
  border: 0;
}
.projectHeaderWrap li {
  width: 32%;
  display: inline-block;
}
.projectMapWrap li {
  width: 32%;
  display: inline-block;
}
.projectDetailsDefault {
  padding: 20px;
}
.create-project-wrap {
  padding-top: 50px;
}
.Content {
  margin-top: 20px;
}
.TableWrap{
  width: 1000px;
  margin: 5px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.Header p {
  font-size: 24px;
  font-weight: bold;
}
.linkStyle {
  color: #0061C3;
  cursor: pointer;
}
.headerStyle {
  background: #02274d;
  color: #fff;
}
.form-container {
  position: relative;
  width: 70%;
  padding: 30px;
  background-color: #fff;
  margin: 100px auto;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.8),0 6px 20px 0 rgba(0,0,0,0.19);
}
.form-container select {
  width: 100%;
}
.form.black-container p {
  margin: 0px;
}
table {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 10px;
}
.tabsWrapper {
  margin-top: 25px;
}
.addProjectWrap {
  position: fixed;
  top: 0;
  left: 50;
  width: 50%;
  border: 1px solid #000;
}
/* Bootstrap overrides */
.navbar-default {
  background-color: rgb(2, 39, 77);
}
.navbar-default .navbar-brand  {
  color: #fff;
}
.tab-content .row {
  padding: 5px 0;
}
.tab-content .row .checkbox {
  margin: 0;
}

 /* Buttons */
.backToProjectsButton {
  vertical-align: top;
  width: 100%;
}

.completeProjectButton {
  vertical-align: top;
  width: 100%;
}

.addSubmitButton {
  width: 100%;
}

/* Pricing children products */
.pricingProduct {
  width: 30%;
  display: inline-block;
  list-style-type: none;    
  padding: 5px;
  margin: 10px;
}
/* Fade In Transition */
.projectConfirmation{
  animation:opac 0.8s;
  font-size: 40px;
  display: block;
  width: 100%;
}
@keyframes opac
{from{opacity:0} to{opacity:1}}

.projectConfirmation p {
  font-size: 12px;
  margin: 20px 0 10px;
}

.projectConfirmation h1 {
  margin-top: 10px;
  text-align: center;
}
.form.black-container {
  margin: 0;
  padding: 0;
}

.pricingFormButton {
  width: 100%;
}