h2 {
 text-align: center;
}

table {
text-align: center;
width: 100%;
}

tr {
  text-align: right;
  height: 3em;
}

tr:nth-child(even) {
  background-color:#eee;
}

th {
  text-align: center;
  padding: 10px;
}
td {
  text-align: center;
}
