thead {
display: inline;
font-weight: bold;
}
.tabs {
  margin: 20px auto 20px auto;
  width: 100%;
}

.demo-tabs {
  background-color: #fafafa;
  padding: 0 10px 10px 10px;
  margin-top: 15px;
  opacity: 0.2s;
  box-shadow: 9px 11px 19px -9px rgba(0,0,0,0.36);
}
.button-style {
  text-align: left;
  padding: 7px;
}

.detailsPreview li{
  width: 20%;
  text-decoration: none;
  display: inline-block;
}

/* .content {
width: 100%;
} */

/* th {
font-size: 20px;
font-weight: 400;
font-family: times;
margin: auto;

} */

/* td, thead {
padding: 20px;
} */

/* tr {
width: 100%;
height: 3em;
} */

input {
  text-align: right;

}

.textbox {
background: white;
width: auto;
}
