thead {
display: inline;
font-weight: bold;
}
.tabs {
  margin: 20px auto 20px auto;
  width: 100%;
}
.demo-tabs {
  background-color: #fafafa;
  padding: 0 10px 10px 10px;
  margin-top: 15px;
  opacity: 0.2s;
  box-shadow: 9px 11px 19px -9px rgba(0,0,0,0.36);
}
.button-style {
  text-align: left;
  padding: 7px;
}
.detailsPreview li{
  width: 20%;
  text-decoration: none;
  display: inline-block;
}
input {
  text-align: left;
}
.textbox {
background: white;
width: auto;
}
